# Docker files
/docker/tmp
/docker/nvidia-driver.run
docker/workspace/
framework/makefiles/benchmarks.makefile
framework/makefiles/datasets.makefile
# Build files
/build/
/install/
/android-build/

# Eclipse and other IDE files
.cproject
.project
.settings/
.idea
.pydevproject
*~

# Python
*.pyc

# Dependencies 
/deps
/android-deps/


# Ignore benchmarks folders
benchmarks/*
!benchmarks/CMakeLists.txt
!benchmarks/benchmarks.repos


# DSE Files
/opentuner.db/

# Paper results
paper/*.aux
paper/*.pdf
paper/*.tex


# Datasets

/datasets
/iros2020_results_backup
/iros2020_results
!/datasets/README.md
!/datasets/datasets.repos

# macOS
.DS_Store

